<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h2>Enter New Activity:</h2>
<br>

<form class="" action="/activity/new" method="post">
  <label for="activity_name">Activity Name</label>
  <input type="text" name="name" value="">
  <br><br>
  <label for="activity_date">Date of Activity</label>
  <input type="text" name="activity_date" value="">
  <br><br>
  <label for="activity_time">Time of Activity</label>
  <input type="text" name="activity_time" value="">
  <br><br>
  <label for="distance">Total Distance</label>
  <input type="text" name="distance" value="">
  <br><br>
  <label for="pace">Average Pace</label>
  <input type="text" name="pace_avg" value="">
  <br><br>
  <label for="speed">Average Speed</label>
  <input type="text" name="speed_avg" value="">
  <br><br>
  <label for="heartrate">Average Heartrate</label>
  <input type="text" name="hr_avg" value="">
  <br><br>
  <!-- <label for="category">Event Category</label>
  <input type="text" name="category" value="">
  <br><br> -->

  <input type="submit" name="" value="Enter Activity">
</form>
